<template>
    <div>
    <Navbar/>
    </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import Navbar from '@/components/Navbar.vue'; // @ is an alias to /src
import Buefy from 'buefy';
import 'buefy/dist/buefy.css';
import 'bulma-extensions/bulma-pageloader/dist/css/bulma-pageloader.min.css';

Vue.use(Buefy);

@Component({
  components: {
    Navbar,
  },
})
export default class Home extends Vue {}
</script>