<template>
  <div class="home">
    <div class="pageloader"><span class="title">Pageloader</span></div>
    <Navbar/>
    <div class="columns is-variable is-1-mobile is-0-tablet is-3-desktop">
      <div class="column">
        <b-button type="is-primary">New subscription</b-button>
        <SubscriptionList/>
      </div>
      <div class="column">
        <IncomingMessages/>
      </div>
      <div class="column">
        <MessageField/>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import Broker from '@/components/Broker.vue'; // @ is an alias to /src
import SubscriptionList from '@/components/SubscriptionList.vue'; // @ is an alias to /src
import NewSubscription from '@/components/NewSubscription.vue'; // @ is an alias to /src
import IncomingMessages from '@/components/IncomingMessages.vue'; // @ is an alias to /src
import MessageField from '@/components/MessageField.vue'; // @ is an alias to /src
import Navbar from '@/components/Navbar.vue'; // @ is an alias to /src
import Buefy from 'buefy';
import 'buefy/dist/buefy.css';
import 'bulma-extensions/bulma-pageloader/dist/css/bulma-pageloader.min.css';
import { library } from '@fortawesome/fontawesome-svg-core';
import { faUserSecret, faHome, faTrashAlt} from '@fortawesome/free-solid-svg-icons';
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome';

library.add(faUserSecret, faHome, faTrashAlt);

Vue.use(Buefy, {
  defaultIconComponent: 'vue-fontawesome',
  defaultIconPack: 'fas',
});
Vue.component('vue-fontawesome', FontAwesomeIcon);

@Component({
  components: {
    MessageField,
    SubscriptionList,
    NewSubscription,
    IncomingMessages,
    Navbar,
  },
})
export default class Home extends Vue {}
</script>
