<template>
  <div class="home">
    <Navbar/>
    <section>
        <b-field label="Add some tags">
            <b-taginput
                v-model="tags"
                ellipsis
                icon="label"
                placeholder="Add a tag">
            </b-taginput>
        </b-field>
        <p class="content"><b>Tags:</b> {{ tags }}</p>
    </section>  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import Navbar from '@/components/Navbar.vue'; // @ is an alias to /src
import Buefy from 'buefy';
import 'buefy/dist/buefy.css';

Vue.use(Buefy);

@Component({
  components: {
    Navbar,
  },
})
export default class Home extends Vue {
    public data() {
            return {
                tags: [
                    'Auckland',
                    'Wellington',
                    'Very long string that would overflow',
                ],
            };
        }
}
</script>