<template>
  <div class="home">
    <Navbar/>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import Navbar from '@/components/Navbar.vue'; // @ is an alias to /src
import Buefy from 'buefy';
import 'buefy/dist/buefy.css';

Vue.use(Buefy);

@Component({
  components: {
    Navbar,
  },
})
export default class Home extends Vue {}
</script>