<template>
    <section class="section">
        <div class="container">
            <div class="tile is-ancestor">
                <div class="tile is-parent is-vertical is-3"/>
                <div class="tile is-parent is-vertical is-6">
                    <div class="tile is-child is-vertical">
                        <b-field horizontal label="Adress">
                            <b-input placeholder="without port number"
                                rounded>
                            </b-input>
                        </b-field>

                        <b-field horizontal label="Username">
                            <b-input rounded/>
                        </b-field>

                        <b-field horizontal label="Password">
                            <b-input type="password"
                                password-reveal
                                rounded>
                            </b-input>
                        </b-field>
                    </div>
                    <div class="tile is-parent is-vertical is-4"/>
                    
                    <div class="tile is-child is-vertical">
                        <a class="button is-primary is-rounded">Save</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';

@Component
export default class Broker extends Vue {
  public message: string = 'Hello';
}
</script>

<style lang="scss" scoped>
  .button.button {
    width: 40%;
    font-weight: bold;
  }
</style>