<template>
<div id="IncomingMessages">
    <h6 class="title is-6">Subscriptions</h6>
    <div class="list is-hoverable is-variable is-1-mobile is-0-tablet is-3-desktop">
        <a class="list-item">
            Featured
        </a>
    </div>
</div>
</template>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';

@Component
export default class IncomingMessages extends Vue {
    public message: string = 'Hello';
}
</script>

<style lang="scss" scoped>

#IncomingMessages {
    padding-left: 2rem;
    padding-top: 5rem;
    padding-right: 2rem;
}

</style>