<template>
<div id="MessageField">
    <b-field label="Message">
        <b-input type="textarea" readonly rows="12"></b-input>
    </b-field>
</div>
</template>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';

export default class MessageField extends Vue {

}
</script>

<style lang="scss" scoped>

#MessageField {
    padding-left: 2rem;
    padding-top: 5rem;
    padding-right: 5rem;
}

</style>