<template>
    <section class="section">
        <div class="container">
            <b-dropdown aria-role="list">
                <button class="button is-primary" slot="trigger">
                    <span>Protocol</span>
                    <b-icon icon="menu-down"></b-icon>
                </button>

                <b-dropdown-item aria-role="listitem">AMQP 0.9.3</b-dropdown-item>
                <b-dropdown-item aria-role="listitem">AMQP 1.0</b-dropdown-item>
                <b-dropdown-item aria-role="listitem">Stomp</b-dropdown-item>
                <b-dropdown-item aria-role="listitem">MQTT</b-dropdown-item>
            </b-dropdown>

            <b-field label="Message">
                <textarea class="textarea" placeholder="10 lines of textarea" rows="15"></textarea>
            </b-field>
        </div>
    </section>
</template>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';

@Component
export default class SubscriptionListMessage extends Vue {
  public message: string = 'Hello';
}
</script>

<style lang="scss" scoped>

</style>
