<template>
<nav class="navbar is-spaced" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://bulma.io">
      <img src="@/assets/Logo.svg" width="112" height="28">
    </a>
    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="true" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
  </a>
  </div>  

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start"/>

    <div class="navbar-end">
      <a class="navbar-item">
        <router-link to="/about">About</router-link>
      </a>
    </div>
  </div>
</nav>
</template>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';

@Component
export default class Navbar extends Vue {
  public message: string = 'Hello';
}
</script>

<style lang="scss" scoped>
</style>