<template>
<div id="SubscriptionList">
        <b-table
            :data="isEmpty ? [] : data"
            :bordered="isBordered"
            :striped="isStriped"
            :narrowed="isNarrowed"
            :hoverable="isHoverable"
            :loading="isLoading"
            :focusable="isFocusable"
            :mobile-cards="hasMobileCards">

            <template slot-scope="props">
                <b-table-column field="address" label="Address">
                    {{ props.row.id }}
                </b-table-column>

                <b-table-column field="topic" label="Topic">
                    {{ props.row.first_name }}
                </b-table-column>

                <b-table-column field="subscribed" label="">
                    <b-switch :value="true" type="is-success">
                    </b-switch>
                </b-table-column>
            </template>

            <template slot="empty">
                <section class="section">
                    <div class="content has-text-grey has-text-centered">
                        <p>
                            <b-icon
                                icon="emoticon-sad"
                                size="is-large">
                            </b-icon>
                        </p>
                        <p>Nothing here.</p>
                    </div>
                </section>
            </template>
        </b-table>
</div>
</template>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';
import NewSubscription from '@/components/NewSubscription.vue'; // @ is an alias to /src

@Component({
  components: {
    NewSubscription,
  },
})

@Component
export default class SubscriptionList extends Vue {
  public message: string = 'Hello';
  public data() {
            const data = [
                { id: 'apache.broker.de:5487', first_name: 'main/traces', last_name: 'Simmons',
                date: '2016/10/15 13:43:27', gender: 'Male' },
                { id: 2, first_name: 'John', last_name: 'Jacobs', date: '2016/12/15 06:00:53', gender: 'Male' },
                { id: 3, first_name: 'Tina', last_name: 'Gilbert', date: '2016/04/26 06:26:28', gender: 'Female' },
                { id: 4, first_name: 'Clarence', last_name: 'Flores', date: '2016/04/10 10:28:46', gender: 'Male' },
                { id: 5, first_name: 'Anne', last_name: 'Lee', date: '2016/12/06 14:38:38', gender: 'Female' },
            ];

            return {
                data,
                isEmpty: false,
                isBordered: false,
                isStriped: true,
                isNarrowed: false,
                isHoverable: false,
                isFocusable: false,
                isLoading: false,
                hasMobileCards: true,
                isSwitched: true,
            };
        }
}
</script>

<style lang="scss" scoped>

#SubscriptionList {
    padding: 5rem;
}

</style>